*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    background-image: linear-gradient( #206723, #16243A);
}
.wrapper{
    display: flex;
    position: relative;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0px;
    width: 200px;
    height: 100%;
    background-image: linear-gradient( #206723, #16243A);
    padding: 6px 14px;
}



.sidebar .logo{
    
    height: 150px;
    padding: 0px 0px;
    
}

.sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0,05);
    border-top: 1px solid rgba(225,225,225,0,05);
}

.sidebar ul li a{
    color: #ffffff;
    display: block;
    text-align: left;
}

.sidebar ul li:hover{
    background: #143521;
}

.main-content{
    margin-top: 0px;
    width: 100%;
    margin-left: 200px;
}


.main-content .info{
    margin: 20px;
    color:rgb(0, 0, 0);
    line-height: 25px;
}

.main-content .info div{
    margin: 20px;
}

.main-content .info h2{
    margin-top: 30px;
    color: #ffffff;
    margin-left: 30px;
   
}

.main-content .form-inline{
    margin-left: 50px;
    height: 100px;
}
.main-content .form-inline .form-control{
    background:#206126;
    color: white;   
    border-color: white;
}
.main-content .form-inline .btn{
    border-color: white;
    color: white;
    background: #143521;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  tr{
      color: white;
      border: 1px solid rgb(255, 0, 0);
  }

.scrollable{
    height: 300px;
    overflow-y: scroll;
}
.con{
    margin-top: 5px;
    margin-left: 50px;
    width: 10px;
    background:wheat;
}

.main-music{
    position: relative;
    height: 45px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main-music button{
    padding: 10px 12px;
    margin: 0 10px;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.right input[type="range"]{
    width: 40%;
}

.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button{
    margin: 10px;
   margin-top: 160px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

 .right .duration{
    position:fixed;
    bottom: 18%;
    left: 72%;
    transform:translateX(-60%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2400px;
    height: 20px;
    margin-top: 40px;
}

.right .duration p{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;

}

.right #auto{
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245, 245, 245, 0.2);
    outline: none;
    border-radius: 10px;
}



.right #auto i{
    margin-left: 8px;
}

#play{
    background: rgba(245, 245, 245, 0.1);
}

#play button:hover{
    background: #ff8a65;
}
.right button:hover{
    background: #143521;
}
.right i:before{
    color: #fff;
    font-size: 20px;
}

.right .show_song_no{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.right .show_song_no p:nth-child(2){
    margin: 0 5px;
}

.right #title{
    position: absolute;
    top: 20px;
    left: 52%;
    transform: translateX(-50%);
    text-transform: none;
    color: #fff;
    font-size: 20px;
}

.right #artist{
    position: absolute;
    top: 45px;
    left: 52%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
}

.tableFixHead {
    overflow-y: auto;
    height: 300px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  th, td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  th {
    background: #143521;

  }
  .modal-header {
    background: #143521;
    color: #fff;
    height: 50px;
  }
  #create{
    color: #fff;
    background: #021249;
    border: black;
  }
  #cancel{
    color: black;
    background: #fff;
    border: #fff;
  }
  .modal-footer{
    background: #1C462F;
    border: #211d1e;
  }
    .modal-footer .btn-primary{
        background: #143521;
        border: white;

  }

  .modal-footer .btn-secondary{
    background: #143521;
    border: white;

}
  .modal-body{
    background-image: linear-gradient( #1E552A, #1C462F);
    color: white;
  }
  
  .container{
      margin-top: 50;
  }
