<template>
<SideBar />
<MainContent />
<Modal />
</template>

<script>
import SideBar from './components/SideBar.vue'
import MainContent from './components/MainContent.vue'
import Modal from './components/Modal.vue'

export default {
  name: 'MP3',
  components: {
    SideBar,
    MainContent,
    Modal
  }
}

</script>

<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100vh;
    background-image: linear-gradient( #206723, #16243A);
}
.wrapper{
    display: flex;
    position: relative;
}
</style>
