<template>
<div class="main-content">
                
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                 
                    

                <div class="info">
                    <h2>All Songs</h2>
                
                    
                                  <div class="tableFixHead">
                                    <table class="table table-bordered">
                                        <thead style="background-color:#143521">
                                          
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Artist</th>
                                            <th scope="col">Album</th>
                                            <th scope="col">Duration</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>Death Bed</td>
                                            <td>Powfu</td>
                                            <td></td>
                                            <td>2:54</td>
                                          </tr>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>Lonely</td>
                                            <td>Akon</td>
                                            <td></td>
                                            <td>4:45</td>
                                          </tr>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>Comethru</td>
                                            <td>Jeremy Zucker</td>
                                            <td></td>
                                            <td>3:01</td>
                                          </tr>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>Me and my Brother</td>
                                            <td>5ive</td>
                                            <td></td>
                                            <td>3:34</td>
                                          </tr>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>Stereo</td>
                                            <td>Gym Class Heroes</td>
                                            <td></td>
                                            <td>3:37</td>
                                          </tr>
                                          <tr>
                                            <td scope="row">1</td>
                                            <td>See you again</td>
                                            <td>Wiz Khalifa</td>
                                            <td></td>
                                            <td>3:58</td>
                                          </tr>
                                        </tbody>
                                      </table>
                              
                        </div>

                        <div class="main-music">
                          
                          <div class="right">
                            

                            <p id="title">title.mp3</p>
                            <p id="artist">Artist name</p>
                            

                            <div class="middle">
                              <button onclick="previous_song()" id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                              <button onclick="justplay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
                              <button onclick="next_song()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                            </div>

                            <div class="duration">
                              <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">

                            </div>

                            
                          

                        </div>
                           
                </div>
                
              </div>
            </div>
</template>

<script>
export default {
  name: 'MainContent',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-content{
    margin-top: 0px;
    width: 100%;
    margin-left: 200px;
}


.main-content .info{
    margin: 20px;
    color:rgb(0, 0, 0);
    line-height: 25px;
}

.main-content .info div{
    margin: 20px;
}

.main-content .info h2{
    margin-top: 30px;
    color: #ffffff;
    margin-left: 30px;
   
}

.main-content .form-inline{
    margin-left: 50px;
    height: 100px;
}
.main-content .form-inline .form-control{
    background:#206126;
    color: white;   
    border-color: white;
}
.main-content .form-inline .btn{
    border-color: white;
    color: white;
    background: #143521;
}

  table {
    border-collapse: collapse;
    width: 85%;
  }
  
  
  tr{
      color: white;
      border: 1px solid rgb(255, 0, 0);
  }

.scrollable{
    height: 300px;
    overflow-y: scroll;
}
.con{
    margin-top: 5px;
    margin-left: 50px;
    width: 10px;
    background:wheat;
}

.main-music{
    position: relative;
    height: 45px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.main-music button{
    padding: 10px 12px;
    margin: 0 10px;
}
input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.right input[type="range"]{
    width: 40%;
}

.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .middle button{
    margin: 10px;
   margin-top: 160px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

 .right .duration{
    position:fixed;
    bottom: 18%;
    left: 72%;
    transform:translateX(-60%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2400px;
    height: 20px;
    margin-top: 40px;
}

.right .duration p{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;

}

.right #auto{
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245, 245, 245, 0.2);
    outline: none;
    border-radius: 10px;
}



.right #auto i{
    margin-left: 8px;
}

#play{
    background: rgba(245, 245, 245, 0.1);
}

#play button:hover{
    background: #ff8a65;
}
.right button:hover{
    background: #143521;
}
.right i:before{
    color: #fff;
    font-size: 20px;
}

.right .show_song_no{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.right .show_song_no p:nth-child(2){
    margin: 0 5px;
}

.right #title{
    position: absolute;
    top: 20px;
    left: 52%;
    transform: translateX(-50%);
    text-transform: none;
    color: #fff;
    font-size: 20px;
}

.right #artist{
    position: absolute;
    top: 45px;
    left: 52%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
}

.tableFixHead {
    overflow-y: auto;
    height: 300px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

  th, td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  th {
    background: #143521;

  }

</style>
