<template>
<div class="container">
      <div class="row">
          <div class="col-md-12">

                  <div class="modal" id="Modal1">
                      <div class="modal-dialog">
                          <div class="modal-content">
                          <div class="modal-header">
                               <h5>Upload Music</h5>   
                          </div>
                          <div class="modal-body">
                              Drag and drop files here
                              <input class="form-control">
                             
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Upload</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          </div>
                              </div>
                            </div>
                          </div>
                       </div>
                     </div>
                  </div>


  <div class="container">
  <div class="row">
      <div class="col-md-12">

              <div class="modal fade" id="Modal2">
                  <div class="modal-dialog">
                      <div class="modal-content">
                      <div class="modal-header">
                           <h5>Create Playlist</h5>   
                      </div>
                      <div class="modal-body">
                          <input class="form-control">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Create</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                  </div>
                  </div>
                </div>
      </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'SideBar',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-header {
    background: #143521;
    color: #fff;
    height: 50px;
  }
  #create{
    color: #fff;
    background: #021249;
    border: black;
  }
  #cancel{
    color: black;
    background: #fff;
    border: #fff;
  }
  .modal-footer{
    background: #1C462F;
    border: #211d1e;
  }
    .modal-footer .btn-primary{
        background: #143521;
        border: white;

  }

  .modal-footer .btn-secondary{
    background: #143521;
    border: white;

}
  .modal-body{
    background-image: linear-gradient( #1E552A, #1C462F);
    color: white;
  }
  
  .container{
      margin-top: 50;
  }
</style>
