<template>
<div class="wrapper">
  <div class="sidebar ">
          <img class="logo" src = "..//assets/logo.png" alt="#">
          <div class="links">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#Modal1">Upload Music</a></li>
                <li><a href="#">All Songs</a></li>
                <li><a href="#" data-toggle="modal" data-target="#Modal2">Create Playlist</a></li>
                <br>
                <li><a href="#">Road Trip</a></li>
                <li><a href="#">Chill</a></li>
                <li><a href="#">Party</a></li>
                <li><a href="#">Opm</a></li>
                
            </ul>
          </div>
            </div>
</div>
</template>

<script>
export default {
  name: 'SideBar',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sidebar{
    position: fixed;
    top: 0;
    left: 0px;
    width: 200px;
    height: 100%;
    background-image: linear-gradient( #206723, #16243A);
    padding: 6px 14px;
}



.sidebar .logo{
    
    height: 150px;
    padding: 0px 0px;
    
}

.sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0,05);
    border-top: 1px solid rgba(225,225,225,0,05);
}
.sidebar ul li a{
    color: #ffffff;
    display: block;
    text-align: left;
}

.sidebar ul li:hover{
    background: #143521;
}
</style>
