*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 80vh;
}
.navbar-style
{
    background: #148002;
    
    text-transform: uppercase;

}
.logo
{
height: 58px;
padding: 0px 0px;
}
.icon-bar
{
    background: rgb(255, 255, 255);
}
li a
{
    color: rgb(255, 255, 255);
    font-size: large;
    height: 58px;
}

  
.c1-text
{
    color: #148002;
}
.c2-text
{
    color: #148002;
}